.App {
    margin: 16px;
}

.logo {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 75px;
}

.App input {
    width: 540px;
    height: 42px;
    background-color: #D8D8D8;
    border: none;
    border-radius: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    font-size: 14px;
}

.App input::placeholder {
    font-size: 14px;
}

.inputHolder {
    margin: 0 auto;
}

.weatherResult {
    text-align: center;
}

.button {
    background-color: #0091FF;
    color: white;
    font-weight: 600;
    border: none;
    height: 36px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0091FF;
    color: white;
}

@media (max-width: 600px) {
    .logo {
        max-height: 70px;
    }

    .App input {
        width: 100%;
    }

    .inputHolder {
        margin-right: 8px;
    }
}